In [ ]:
SELECT MAX(salary*months),
       COUNT(*)
FROM Employee
WHERE salary * months = (
      SELECT MAX(salary*months)
      FROM Employee
);

In [ ]:
SELECT CEILING(AVG(Salary) 
               - AVG(REPLACE(salary, 0, ""))) #SALARY칼럼에서 0을 ""으로 대체
FROM EMPLOYEES;

In [ ]:
SELECT A.hacker_id, A.name, SUM(B.total_score)AS total_score
  FROM (
        SELECT hacker_id, challenge_id, MAX(score) as total_score
        FROM Submissions
        GROUP BY hacker_id, challenge_id
        ) AS B
  JOIN Hackers A ON A.hacker_id = B.hacker_id
GROUP BY A.hacker_id, A.name
  HAVING SUM(total_score) > 0
ORDER BY total_score DESC, B.hacker_id ASC;

In [ ]:
-- 최소 길이의 도시 (알파벳 순 정렬 포함)
SELECT CITY, LENGTH(CITY)
FROM STATION
ORDER BY LENGTH(CITY) ASC, CITY ASC
LIMIT 1;

-- 최대 길이의 도시 (알파벳 순 정렬 포함)
SELECT CITY, LENGTH(CITY)
FROM STATION
ORDER BY LENGTH(CITY) DESC, CITY ASC
LIMIT 1;

In [ ]:
#Type of Triangle
SELECT CASE
WHEN A+B <= C OR B+C <= A OR A+C <= B
THEN 'Not A Triangle'

WHEN A = B and B = C and C = A
THEN 'Equilateral'

WHEN A = B or B = C or C = A
THEN 'Isosceles'

ELSE 'Scalene'

END AS 'TRIANGLES TYPE'
FROM TRIANGLES;

In [ ]:
#Draw The Triangle 1
WITH RECURSIVE CTE AS(
SELECT REPEAT('* ', 20) AS STAR, 20 AS N
UNION ALL
SELECT REPEAT('* ', N-1), N-1
FROM CTE
WHERE N>1
)

SELECT STAR
FROM CTE;

In [ ]:
#Draw The Triangle 2
WITH RECURSIVE CTE AS(
SELECT REPEAT('* ', 20) AS STAR, 20 AS N
UNION ALL
SELECT REPEAT('* ', N-1), N-1
FROM CTE
WHERE N>1
)

SELECT STAR
FROM CTE
ORDER BY STAR ASC;

In [ ]:
#Placements

SELECT A.Name
  FROM (
      Students A
      JOIN Friends B USING(ID)
      JOIN Packages C1 ON A.ID = C1.ID
      JOIN Packages C2 ON B.friend_ID = C2.ID
)
 WHERE C1.Salary < C2.Salary
 ORDER
    BY C2.Salary;

In [ ]:
#The Report
SELECT IF(Grade < 8, NULL, NAME), Grade, Marks
FROM Students JOIN Grades
WHERE Marks BETWEEN Min_mark AND Max_Mark
ORDER BY grade DESC, Name, Marks ASC;